.colaborators{
    display: flex;
    flex-direction: row;
}
.boxes{
    padding: 2rem;
    margin-right: 5rem;
    background-color: rgb(61, 61, 61);
    border-radius: 10%;
}
@media screen and (min-width: 425px) {
    .colaborators{
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }
    .boxes{
        flex: 1;
        padding: 2rem;
        margin-right: none;
        margin-left: 3rem;
        margin-bottom: 3rem;
        background-color: rgb(61, 61, 61);
        border-radius: 10%;
    }
    }
    .emprow {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 1rem;
    }
    
    .empcol {
        width: 100%;
        max-width: 250px;
        background-color: rgb(77, 76, 76);
        margin: .5rem;
        border-radius: .35rem;
    }
    
    .empcol img {
        width: 100%;
        border-radius: .3rem .3rem 0 0;
    }
    
    .empcol h3 {
        margin: .5rem;
        text-align: center;
    }
    
    .empcol ul {
        margin: 0 0 .5rem 0;
        padding-left: 2rem;
    }
