@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Reset (normalize) Ajusta o css pra ser exibido pela maior parte dos navegadores*/
* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(114, 114, 114);
    background-attachment: fixed;

}

/* Elementos de uso geral */
a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Elemento wrap (div#wrap) */
#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: auto;
}

/* Cabeçalho (header) */
header {
    background-color: rgb(224, 62, 62);
}

.logo {
    display: block;
    width: 5rem;
    margin: .5rem 1rem .5rem 1rem;
}

.header-title-logo {
    display: flex;
    align-items: center;
}

.header-title {
    text-align: center;
}

.header-title h1 {
    margin: 0;
}

.header-title small {
    letter-spacing: .03rem;
}

.header-search {
    width: 100%;
    padding: 1rem;
}

.header-search form {
    display: flex;
}
.header-search form input{
    flex-grow: 1;
}
/* Menu principal (nav) */
nav {
    background-color: rgb(224, 62, 62);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    padding: 1rem;
    text-align: center;
}
nav a:hover {
    color: white;
}
nav a i {
    font-size: 1.5rem;
}

/* Conteúdo principal */
main {}

main article {}

main aside {}

/* Rodapé (footer) */
footer {}

/* Classes de uso geral */
.red {}

.center {}

/* Elementos de formulários */
input, textarea, button {
    font-family: inherit;
    font-size: inherit;
}